#navBar {
  background-color: #232f3e;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
}
.navItem p {
  color: white;
}
#allSlider {
  display: flex;
  margin: 5px;
  padding: 5px;
  user-select: none;
  cursor: pointer;
  background-color: #232f3e;
  border: none;
  color: white;
}
#allSlider:hover {
  outline: 2px solid white;
}
#allSlider > p {
  font-size: large;
}
#moreIcon {
  height: 20px;
  width: 20px;
  padding-right: 4px;
}
.navItem {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.navItem:hover {
  outline: 2px solid white;
}
.navLink {
  user-select: none;
  text-decoration: none;
}
#nb-sliderDiv {
  background-color: white;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 100%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.473);
}
#nb-sliderDiv-user {
  display: flex;
  background-color: #232f3e;
  align-items: center;
  gap: 10px;
  padding: 15px 170px 15px 30px;
  color: white;
}
#nb-sliderDiv-user img {
  height: 28px;
}
#nb-sliderDiv-user p {
  font-weight: bold;
  font-size: 20px;
}
#nb-sliderDiv-background {
  background-color: rgba(0, 0, 0, 0.719);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  border: 0;
}
#nb-sliderDiv-closeBtn {
  position: fixed;
  top: 0;
  z-index: 2;
  top: 15px;
  left: 375px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 28px;
}
#nb-slider-contents {
  padding: 18px 0;
  overflow: scroll;
  height: 85%;
  background-color: white;
}
.nb-slider-content {
  display: flex;
  flex-direction: column;
}
.nb-slider-content hr {
  border: 1px solid rgba(0, 0, 0, 0.158);
}
.nb-slider-content-title {
  font-weight: bold;
  font-size: large;
  color: rgba(0, 0, 0, 0.842);
}
.nb-slider-content-item {
  color: rgba(0, 0, 0, 0.856);
  font-size: medium;
  cursor: pointer;
}
.nb-slider-content-item:hover {
  background-color: rgba(0, 0, 0, 0.082);
}
.nb-slider-content p {
  padding: 10px 0 10px 35px;
}
