#product {
  background-color: white;
}
#pc-md {
  display: flex;
}
#p-pc {
  margin: 20px 17px;
}
#p-pc ul {
  font-family: sans-serif;
  padding-left: 17px;
}
.pc-icon {
  height: 27px;
}
#md-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#md-details a {
  color: #007185;
  cursor: pointer;
}
#md-details a:hover {
  text-decoration: underline;
}
#md-titleDiv p {
  font-weight: bold;
  color: rgb(39, 39, 39);
  font-size: larger;
}
#md-titleDiv #rating p {
  color: rgb(255, 174, 0);
}
#md-priceDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#md-price {
  display: flex;
  gap: 10px;
}
#md-priceDiv #discount {
  color: rgba(187, 0, 0, 0.795);
  font-size: x-large;
}
#md-priceDiv #md-price #value {
  color: rgba(0, 0, 0, 0.884);
  font-size: x-large;
}
#md-priceDiv #md-mrp {
  color: rgb(88, 88, 88);
  align-items: center;
  font-size: 12px;
}
#md-priceDiv #md-mrp #value {
  text-decoration: line-through;
}
#md-mrp {
  display: flex;
}
#md-offersDiv > #title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
#md-offersDiv > #cards {
  display: flex;
  gap: 10px;
  height: min-content;
}
#md-curr-view {
  margin-right: 13px;
}
#md-curr-view img {
  width: 450px;
}
.md-offerCard {
  box-shadow: 0px 0px 6px 0px rgb(163, 163, 163);
  border-radius: 8px;
  padding: 10px;
  width: 100px;
}
.md-offerCard p,
a {
  font-size: 14px;
}
#md-buyCard {
  height: fit-content;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 920px;
  margin: 20px 0px 0px 20px;
  padding: 15px;
  gap: 7px;
}
#add-to-cart-btn {
  background-color: #ffd814;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgb(197, 197, 197);
  padding: 8px 0px;
  margin-top: 10px;
  cursor: pointer;
}
#add-to-cart-btn:hover {
  background-color: #e2bf0f;
}
#buy-now-btn {
  background-color: #ffa41c;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgb(197, 197, 197);
  padding: 8px 0px;
  margin-bottom: 5px;
  cursor: pointer;
}
#buy-now-btn:hover {
  background-color: #e7900d;
}
#add-to-wish-list-btn {
  background-color: white;
  box-shadow: 0px 0px 3px 0px rgb(197, 197, 197);
  border-radius: 10px;
  text-align: start;
  border: 1px solid rgb(160, 160, 160);
  padding: 7px 0px 7px 10px;
  margin-top: 5px;
  cursor: pointer;
}
#add-to-wish-list-btn:hover {
  background-color: rgb(241, 241, 241);
}
#md-iconsDiv {
  display: flex;
  /* justify-content: space-around; */
  font-size: 13px;
  text-align: center;
  gap: 25px;
  margin: 10px 0px;
}
#md-icon img {
  height: 40px;
}
#md-icon {
  width: min-content;
}
#md-views-flex {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-right: 10px;
}
#md-view {
  height: 45px;
  width: 45px;
  border: 1px solid rgba(0, 0, 0, 0.534);
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#md-view img {
  height: 100%;
  width: max-content;
  max-width: 100%;
  border-radius: inherit;
}
#md-view:hover {
  box-shadow: 0px 0px 3px 1px #007185;
}
#md-specsDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#md-specsDiv .md-spec {
  display: flex;
  gap: 10px;
}
#md-aboutDiv li {
  margin: 7px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
#p-pc > hr {
  margin-top: 20px;
}
