#sp-content {
  background-color: white;
}
#results-band {
  font-size: 16px;
  padding: 8px;
  box-shadow: 0 0 5px 2px gray;
}
#results-band span {
  color: #c25f03;
  font-weight: bold;
}
#sp-list {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  gap: 10px;
  min-height: 300px;
  justify-content: center;
}
.product-box {
  border: 2px solid rgba(128, 128, 128, 0.226);
  border-radius: 3px;
  padding: 7px;
}
