.mc_productImage {
  background-color: #f7f7f7;
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mc_img {
  height: 90%;
}
#mc {
  background-color: white;
  padding: 20px;
  /* border-radius: 20px; */
  margin: 25px;
  box-shadow: 0px 0px 7px 0px grey;
  height: fit-content;
  width: fit-content;
}
#mc_productsGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 7px;
}
.mc_productTitle {
  color: black;
  font-size: 15px;
  padding: 4px;
  text-align: left;
}
#mc_cardTitle {
  font-size: 23px;
  color: black;
  padding-bottom: 7px;
}
#mc a {
  text-decoration: none;
  font-size: 13px;
  color: #007185;
}
#mc > a:hover {
  text-decoration: underline;
  color: #f08804;
}
