#pc {
  width: min-content;
  min-width: 218px;
  max-width: 218px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 2px;
}

#pc_img {
  height: 200px;
}
.pc_product_image {
  background-color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.pc_product_image:focus {
  outline: 2px solid #007185;
}
#pc_product_title,
#pc_rating {
  color: #007185;
  font-size: 15px;
  align-items: baseline;
}
.pc_link {
  text-decoration: none;
  font-size: 13px;
}
#pc_product_title:hover {
  color: #f08804;
}
#pc_rs,
#pc_mrp,
#pc_rating {
  text-align: left;
  color: rgb(255, 174, 0);
  font-size: 25px;
}
#pc_rating:hover {
  color: #f08804;
}
#pc_rs_value {
  padding-right: 5px;
  font-size: 22px;
  color: #b12704;
}
#pc_mrp {
  color: grey;
  align-items: center;
  font-size: 12px;
}
#pc_mrp_value {
  text-decoration: line-through;
}
