.sc_productImage {
  background-color: #f7f7f7;
  height: 265px;
  width: 265px;
  padding-bottom: 10px;
}
#sc_img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
#sc {
  background-color: white;
  padding: 20px;
  /* border-radius: 20px; */
  margin: 25px;
  box-shadow: 0px 0px 7px 0px grey;
  height: min-content;
  width: min-content;
}
#sc_cardTitle {
  font-size: 23px;
  color: black;
  padding-bottom: 7px;
}
#sc a {
  text-decoration: none;
  font-size: 13px;
  color: #007185;
}
#sc > a:hover {
  text-decoration: underline;
  color: #f08804;
}
